@using Web_Tasarim.Models
@model List<Student>
@{
    ViewBag.Title = "Admin - Öğrenciler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-left: 20px; margin-right: 20px">
    <div style="text-align: center; margin-top: 10px; margin-bottom: 10px"><h1>Öğrenciler</h1></div>
    <table class="table table-striped" style="margin-top:20px;">
        <tr>
            <th>Sıra</th>
            <th>Görsel</th>
            <th>Adı Soyadı</th>
            <th>Kullanıcı Adı</th>
            <th>Şifre</th>
        </tr>
        @{ int sayac = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>@(sayac++)</td>
                <td>
                    <img src="https://localhost:44351/Content/UserImages/@item.ImageUrl"
                         style="width: 50px; height: 50px; border-radius: 50%; border: 1px solid #999; object-fit: cover; object-position: 50% 15%;" />
                </td>
                <td>@item.Name @item.Surname</td>
                <td>@item.Username</td>
                <td>@item.Password</td>
            </tr>
        }
    </table>
</div>

@Html.Partial("_AdminFooterPartial")