@model Web_Tasarim.Models.Student
@{
    ViewBag.Title = "Memur - Yeni Öğrenci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-left: 20px; margin-right: 20px">
    <div style="text-align: center; margin-top: 20px; margin-bottom: 20px"><h1>Öğrenci Ekleme</h1></div>
    <form class="form-group" method="post" enctype="multipart/form-data">
        @Html.Label("Kullanıcı Adı")
        @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
        <br />
        @Html.Label("Öğrenci Resmi")
        <input type="file" name="ImageUrl" class="form-control" />
        <br />
        @Html.Label("Öğrencinin Adı")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br />
        @Html.Label("Öğrencinin Soyadı")
        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
        <br />
        @Html.Label("Öğrencinin Şifresi")
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
        <br />
        @Html.Label("Bölümü")
        @Html.DropDownListFor(x => x.DepartmentId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })

        <div style="margin-top: 20px;">
            <p align="right"><button href="/Admin/NewCourse/" class="btn btn-success" style="width: 100px">Ekle</button></p>
        </div>
    </form>
</div>

@Html.Partial("_OfficerFooterPartial")